section img{
    width: 300px;
    max-width: 100%;
}


section{
    margin: 80px auto;
}

.portfolio-list span{
    margin: 0 1rem;
}

li{
    margin:  1rem 0;
}

.warning{
    color: red;
    font-size: 0.85rem;
}


@media (min-width:1001px){

.portfolio-list li{
    padding-right: 160px;
}

}